body{
      background-color: gray;
      color: white;

}
.cabecalho{
    background-color: #383d58;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
body{
    background-color: blue;
    color: white;
}

.cabecalho{
    background-color: #383d58;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-imagem{
    width: 20%;
}
.lista-item{
    display: inline-block;
    font-size: 24px;
    margin: 0 16px;
    margin-right: 0 100px;
}

.secaol{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
}

.secaol-titulo{
    width: 35%;
}

.secaol-imagem{
    padding: 20%;
}

.secao2{
    background-color: #d9d9d9;
    text-align: center;
    font-size: 30px;
    color: blue;
}